@model Inventario
@Html.Raw(TempData["msg"])

<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />

<h1>Editar Medicamento</h1>
<hr />

<form asp-action="Update">
    <div class="form-group d-none">
        <label class="control-label">ID</label>
        <input asp-for="Id" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">NOMBRE</label>
        <input asp-for="Nombre" class="form-control" type="text" />
    </div>
    <div class="form-group">
        <label class="control-label">CANTIDAD</label>
        <input asp-for="Cantidad" class="form-control" min="0" />
    </div>
    <div class="form-group">
        <label class="control-label">DROGA</label>
        <input asp-for="Droga" class="form-control" type="text" />
    </div>
    <div class="form-group">
        <label class="control-label">VENCIMIENTO</label>
        <input asp-for="Vencimiento" class="form-control" type="date" />
    </div>
    <div class="form-group">
        <label class="control-label">LABORATORIO</label>
        <input asp-for="Laboratorio" class="form-control" type="text" />
    </div>
    <div class="form-group">
        <label class="control-label">PRECIO COMPRA</label>
        <input asp-for="PrecioCompra" class="form-control" type="number" />
    </div>
    <div class="form-group">
        <label class="control-label">PRECIO VENTA</label>
        <input asp-for="PrecioVenta" class="form-control" type="number" />
    </div>
    <div class="form-group" style="margin-top:10px">
        <input type="submit" value="Enviar" class="btn btn-outline-dark" />
    </div>
</form>

<a asp-action="Index" asp-controller="Inventario" class="btn btn-outline-dark fa fa-arrow-left" style="margin-top:10px; margin-bottom:10px" aria-hidden="true"></a>